[Interface]
Address = 10.200.0.4/32, fd00:cafe::4/128
PrivateKey = {{ ansible_facts.TOYBOX_PRIVATE_KEY }}
#Mtu = 1420

[Peer]
PublicKey = {{ ansible_facts.ROUTER_PUBLIC_KEY }}
AllowedIPs = 10.200.0.0/24, fd00:cafe::/32
Endpoint = 192.168.1.1:995
