[Match]
Name=eth0

[Network]
DHCP=ipv4
Address=2a01:4f8:c013:7b8::1/64
Gateway=fe80::1
DNS=2a01:4ff:ff00::add:1
DNS=2a01:4ff:ff00::add:2
IPv6AcceptRA=yes
IPv6PrivacyExtensions=yes

[IPv6AcceptRA]
UseAutonomous=yes
UseAutonomousPrefix=yes
UseMTU=yes
UseDNS=no

