#!/sbin/nft -f

flush ruleset

table inet SERVER_FIREWALL {

        set denylist {
              type ipv4_addr; flags dynamic, timeout; timeout 5m;
        }

        chain input {
              type filter hook input priority 0; policy drop;

              ct state invalid drop comment "early drop of invalid packets"
              ct state {established, related} accept comment "accept all connections related to connections made by us"

              iif lo accept comment "accept loopback"
              iifname wg0 accept comment "accept wireguard traffic"
              iif != eth0 ip daddr 10.42.0.0/16  accept comment "Allow incoming kube traffic"
              iif != eth0 ip6 daddr fd01::/48 accept comment "Allow incoming kube traffic"

              meta l4proto icmp accept comment "Accept ICMP"
              meta l4proto ipv6-icmp accept comment "accept all ICMP types"
              udp dport 546 ip6 saddr { fc00::/7, fe80::/10, 2001:bc8:2::5:136:1 } accept comment "allow DHCPv6 client"

              tcp dport 22 accept comment "accept local SSH"

              tcp dport { 80, 443, 4443, 8084 } accept comment "accept http"

              tcp dport {25, 465, 587, 993} accept comment "accept email"

              udp dport 995 accept comment "accept wireguard"

              #tcp dport 6443 accept comment "accept kubernetes"
        }

        chain nat_pretrouting {
              type nat hook prerouting priority 0; policy accept;

              ip saddr 46.148.40.0/24 drop comment "dont allow iran ip"
              tcp dport {22, 25, 587, 2222} ct state new, untracked limit rate over 5/minute add @denylist { ip saddr } comment "add to blacklist"
              ip saddr @denylist drop comment "dont allow blacklisted ip"

              iif eth0 tcp dport 2222 dnat ip to 10.200.0.6:2222 comment "forward to warpgate ssh connections"
              iif eth0 tcp dport 2222 dnat ip6 to [fd00:cafe::6]:2222 comment "forward to warpgate ssh connections"

              #iif eth0 tcp dport {25, 587, 993} dnat ip to 10.200.0.5 comment "forward to smtp & imaps connections"
              #iif eth0 tcp dport {25, 587, 993} dnat ip6 to [fd00:cafe::5] comment "forward to smtp & imaps connections"
        }

        chain forward {
              type filter hook forward priority 0; policy drop;

              ip saddr 10.42.0.0/16 accept comment "Allow forward of kube traffic"
              ip daddr 10.42.0.0/16 accept comment "Allow forward of kube traffic"
              ip6 saddr fd01::/48 accept comment "Allow forward of kube traffic"
              ip6 daddr fd01::/48 accept comment "Allow forward of kube traffic"

              iifname wg0 accept comment "accept wireguard traffic"
              oifname wg0 accept comment "accept wireguard traffic"
        }

        chain nat_postrouting {
              type nat hook postrouting priority 0; policy accept;

              #iif eth0 tcp dport {25, 465, 993} ip daddr 10.200.0.5 masquerade comment "forward smtp & imaps connections"
              #iif eth0 tcp dport {25, 465, 993} ip6 daddr fd00:cafe::5 masquerade comment "forward smtp & imaps connections"

              iif eth0 tcp dport 2222 ip daddr 10.200.0.6 masquerade comment "forward to warpgate ssh connections"
              iif eth0 tcp dport 2222 ip6 daddr fd00:cafe::6 masquerade comment "forward to warpgate ssh connections"

              oif eth0 ip saddr 10.42.0.0/16 masquerade comment "NAT kube traffic to avoid leaking private network"
              oif eth0 ip6 saddr fd01::/48 masquerade comment "NAT kube traffic to avoid leaking private network"

              oif eth0 ip saddr 10.200.0.0/24 masquerade comment "Allow NATing IPv4 wireguard traffic"
              oif eth0 ip6 saddr fd00:cafe::/32 masquerade comment "Allow NATing IPv6 wireguard traffic"
        }

        chain output {
              type filter hook output priority 0; policy accept;
        }
}
