{% extends "index.html" %}

{% block main %}
<article itemscope itemtype="http://schema.org/BlogPosting">
    <div class="border"></div>
    <div itemprop="headline">
        <h1>{{ page.title }}</h1>
        <time datetime="{{ page.date | date(format="%Y-%m-%d") }}" class="date" itemprop="datePublished">
            {{ page.date | date(format="%d %b %Y") }}
        </time>
        <div class="border"></div>
    </div>
    <br/>
    {% if page.extra['header'] %}
    {{ page.extra['header'] | safe }}
    {% endif %}

    {% if page.toc %}
    <section>
    <h1>Index</h1>
    <ul>
      {% for h1 in page.toc %}
      <li>
        <a href="#{{ h1.id | safe}}">{{ h1.title }}</a>
        {% if h1.children %}
        <ul>
          {% for h2 in h1.children %}
          <li>
            <a href="#{{ h2.id | safe}}">{{ h2.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    </section>
    {% endif %}

    <br/>

    <div itemprop="articleBody">
        {{ page.content | safe }}
    </div>
</article>
{% endblock main %}
