[Interface]
Address = 10.200.0.252/32, fd00:cafe::252/128
PrivateKey = {{ ansible_facts.LAPTOP_PRIVATE_KEY }}

[Peer]
PublicKey = {{ ansible_facts.SERVER_PUBLIC_KEY }}
AllowedIPs = 10.200.0.0/24, fd00:cafe::/32
Endpoint = erebe.eu:995
PersistentKeepalive = 20
