{% extends "index.html" %}

{% block main %}
<article itemscope itemtype="http://schema.org/BlogPosting">
    <div itemprop="headline">
        <h1>{{ page.title }}</h1>
        <div class="border"></div>
        <time datetime="{{ page.date | date(format="%Y-%m-%d") }}" class="date" itemprop="datePublished">
            {{ page.date | date(format="%d %b %Y") }}
        </time>
    </div>
    <div itemprop="articleBody">
        {{ page.content | safe }}
    </div>
</article>
{% endblock main %}
