$black: #1b2b34;
$black_light: #343d46;
$gray_dark: #4f5b66;
$gray: #65737e;
$gray_light: #a7adba;
$white: #c0c5ce;
$silver: #cdd3de;
$silver_light: #d8dee9;
$white_pure: #ffffff;

$red: #ec5f67;
$orange: #f99157;
$green: #99c794;
$yellow: #fac863;
$blue: #6699cc;
$blue_light: #bcdaf7;
$magenta: #c594c5;
$cyan: #62b3b2;

