name: Publish Blog Image
on:
  push:
    paths:
    - 'blog/**'
   
jobs:
  buildAndPush:
    name: Build And Push docker images
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v2 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - name: Blog
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: blog
          file: blog/Dockerfile
          push: true
          tags: ghcr.io/erebe/blog:latest
      - name: Blog Image digest
        run: echo Blog ${{ steps.docker_build.outputs.digest }}
      - name: Trigger deployer
        run: |
          payload='{ "application_name": "blog", "image_digest": "${{ steps.docker_build.outputs.digest }}", "image_tag": "latest" }'
          token='X-Webhook-Token: ${{ secrets.WEBHOOK_SECRET }}'
          curl -X POST -H 'Content-Type: application/json' -H "${token}"  -d "${payload}" https://hooks.erebe.eu/hooks/deploy
